<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21304726166-47j4759irahet52kss1ujrs9knmfs0qo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21304726166-47j4759irahet52kss1ujrs9knmfs0qo</string>
	<key>API_KEY</key>
	<string>AIzaSyASHL0Pv4blUWhDCdr7BFVG3dGE0e9uiqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>21304726166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gowayki.nesh</string>
	<key>PROJECT_ID</key>
	<string>gowayki</string>
	<key>STORAGE_BUCKET</key>
	<string>gowayki.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21304726166:ios:2792e557a794619f27e8b7</string>
</dict>
</plist>